    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="#/" ng-click="getData('Today')">Today</a></li>
        <li><a href="#/" ng-click="getData('Yesterday')">Yesterday <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="#/">This Week <span class="sr-only">(current)</span></a></li>
        <li><a href="#/" ng-click="getData('Month')">This Month</a></li>
        <li><a href="#/" ng-click="getData('Year')">Year to Date</a></li>
      </ul>
    </div>